<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title >Ingresa a tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #formulario="ngForm" >

    <ion-item>
      <ion-label>Correo electrónico:</ion-label>
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="userLogin.email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="userLogin.password" required placeholder="Contraseña">
      </ion-input>
    </ion-item>






  </form>
  <ion-button color="primary"  shape="round" (click)="login()" expand="full" class="ion-margin-top">
    login</ion-button>

  <ion-item-divider color="tertiary" class="ion-margin ion-justify-content-center" style="margin: auto;
margin-top: 30px;
margin-bottom: 30px;text-align:center;">
    <ion-label style="margin-left: auto; margin-right: auto;">
      -- o --
    </ion-label>
  </ion-item-divider>

   
  <ion-button color="google" shape="round" (click)="loginGoogle()" expand="full" class="ion-margin-top">Ingresa con
    Google</ion-button>
  <ion-button color="facebook" shape="round" (click)="loginFacebook()" expand="full">Ingresa con Facebook</ion-button>

  <ion-button color="danger" (click)="cancelar()" shape="round" expand="full" class="ion-margin-top">Cancelar
  </ion-button>


</ion-content>