<app-header titulo="Add publication"></app-header>

<ion-content [fullscreen]="true">
  <app-segments></app-segments>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-input type="text" placeholder="Usuario" name="idUser" [(ngModel)]="postToLike.idUser" required></ion-input>
    </ion-item>
  
  
    <ion-item>
      <ion-label>Plataforma:</ion-label>
      <ion-select placeholder="Select One"   name="idPlattform" [(ngModel)]="postToLike.idPlattform" required>
        <ion-select-option value="fb">Facebook</ion-select-option>
        <ion-select-option value="yt">Youtube</ion-select-option>
        <ion-select-option value="ig">Instagram</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Requerimientos:</ion-label>
      <!-- Checkbox Colors -->
      <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar"  name="requires" [(ngModel)]="postToLike.requires" required>
        <ion-select-option value="lk">Like</ion-select-option>
        <ion-select-option value="cm">Comentar</ion-select-option>
        <ion-select-option value="sh">Compartir</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label>URL:</ion-label>
      <ion-input type="url" placeholder="Dirección" name="urlPostToLike" [(ngModel)]="postToLike.urlPostToLike" required></ion-input>
    </ion-item>





    <div style="position:-webkit-sticky; position:sticky; bottom:0; border-color:red;">
      <ion-button slot="bottom" [disabled]="formulario.invalid" type="submit" expand="block">
        Enviar
      </ion-button>
    </div>


  </form>

</ion-content>