<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=252220469914921&autoLogAppEvents=1"
  nonce="Rz2JwBgx"></script>
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">



    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>


    <ion-chip class="ion-text-center">
      <ion-avatar>
        <img src="assets/img/logo/thunderlikes-1.png">
      </ion-avatar>
    </ion-chip>
    <ion-buttons slot="end">

      <app-logger (userEmit)="verUser( $event )"></app-logger>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <app-loading *ngIf="loadding"></app-loading>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">


        <ion-slides pager=" ios" *ngIf="!user" class="slide-full ">

          <ion-slide *ngFor="let slide of slides">

            <ion-card mode="ios" style="padding-top: 35px;">
              <img [src]="slide.img" class="slide-image" />

              <ion-card-header>
                <ion-card-subtitle>{{ slide.titulo }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                {{ slide.desc }}
              </ion-card-content>

            </ion-card>


          </ion-slide>


          <ion-slide>
            <ion-card mode="ios" style="padding-top: 35px;">
              <img src="assets/img/bussines/comenzar.png" class="slide-image" (click)="onClick()" />

              <ion-card-header (click)="onClick()">
                <ion-card-subtitle>Inicia</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Dinos que publicación quieres subir y te ayudamos
              </ion-card-content>

            </ion-card>
          </ion-slide>


        </ion-slides>

        <!-- <ion-list *ngIf="user">

          <ion-item-sliding *ngFor="let dataUser of userSignData  ">

            <ion-item-options side="start">
              <ion-item-option>
                <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="share-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item>
              <ion-label>
                <h3>{{ dataUser.emailSignIn }}</h3>

              </ion-label>
              {{ dataUser.dateSignIn }}
              <ion-label slot="end" class="ion-text-end text-small"> {{ dataUser.dateSignOut}} </ion-label>

            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>


        </ion-list> -->



      </ion-col>


    </ion-row>
  </ion-grid>
  <div id="scriptFB"></div>
  <div id="post"></div>
  <ion-grid fixed *ngIf="flagPost">
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of postToLike; index as i" id="posts">
        <ion-card-header>
          <div class="fb-share-button" [id]="'btnShare'+ i" data-layout="button_count" data-size="large"><a
              target="_blank" href="" class="fb-xfbml-parse-ignore">Compartir</a></div>

          <div class="fb-like" data-href="https://www.facebook.com/photo.php?fbid=104570254973161" data-width=""
            data-layout="standard" data-action="like" data-size="small" data-share="true">
          </div>
        </ion-card-header>
        <ion-card-content style="overflow: hidden !important;" height="250px">
          <div class="fb-post" [id]="'postShow' + i" data-width="350" data-show-text="false"></div>



          <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"></div>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div style="width:80%;text-align: center !important; margin: auto;">
    <div style="width: 50%;padding: 50px;margin: auto;text-align: center; float: left;">
      <ion-button expand="block" (click)="lessPage()" >Anterior</ion-button>
    </div>
    <div style="width: 50%;padding: 50px;margin: auto;text-align: center; float: left;">
      <ion-button expand="block" (click)="verMas()"> Siguiente</ion-button>
    </div>



  </div>




  <!--
  <div id="postFB" *ngFor="let post of postToLike">
    {{post.urlPostToLike}}
    <div class="fb-post" data-href="'post.urlPostToLike'" data-width="100%" data-show-text="true"></div>
  </div> -->

  <!-- <app-segments></app-segments> -->

</ion-content>