<div id="fb-root"></div>
<app-header titulo="Bienvenido" (userEmit)="getUser($event)"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="scriptFB"></div>
  <ion-grid fixed>
    <ion-row *ngIf="!user">
      <ion-col size="12">
        <ion-slides pager=" ios" class="slide-full">
          <ion-slide *ngFor="let slide of slides">
            <ion-card mode="ios" style="padding-top: 35px">
              <img [src]="slide.img" class="slide-image" />

              <ion-card-header>
                <ion-card-subtitle>{{ slide.titulo }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content> {{ slide.desc }} </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card mode="ios" style="padding-top: 35px">
              <img src="assets/img/bussines/comenzar.png" class="slide-image" (click)="onClick()" />

              <ion-card-header (click)="onClick()">
                <ion-card-subtitle>Inicia</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Dinos que publicación quieres subir y te ayudamos
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="user">
    <ion-row style="text-align: center">
      <ion-col size="12" size-md="4" size-sm="6"
        *ngFor="let item of postToLike | paginate: { itemsPerPage: sum, currentPage: p }; index as i" id="posts"
        style="text-align: center; overflow-x: hidden;" class="animate__animated animate__fadeInUp">
        <ion-card-header style="margin: auto; margin-top: 25px; margin-bottom: 25px" *ngIf="item.idPlattform =='fb'">
          <ion-row *ngIf="item.idPlattform == 'fb'">
            <ion-col size="12" size-sm="12" *ngIf="item.requires.includes( 'lk' )"
              style="text-align: center; margin: auto ;overflow-x: hidden;">
              <div class="fb-post" height="350px" [id]="'post'+ i"
                data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="350"
                data-show-text="false" style="margin: auto"></div>
            </ion-col>
            <ion-col size="12" size-sm="12" *ngIf="item.requires.includes( 'cm' )">
              <div [id]="'comment'+ i" class="fb-comments"
                data-href="https://www.facebook.com/100053721791797/posts/259376982529693/?app=fbl" data-width="100%"
                data-numposts="1" data-lazy="true" data-mobile="true" data-colorscheme="light"></div>
            </ion-col>
            <ion-col size="12" size-sm="12" *ngIf="item.requires.includes( 'sh' )">
              <div class="fb-share-button" [id]="'btnShare'+ i" data-layout="button_count" data-size="large"
                *ngIf="item.requires.includes( 'sh' )">
                <a target="_blank" href="" class="fb-xfbml-parse-ignore">Compartir</a>
              </div>
            </ion-col>
          </ion-row>




        </ion-card-header>
        <ion-card-content style="overflow: hidden !important"
          style=" max-height: 400px !important; margin: auto; margin-top: 25px;  margin-bottom: 25px; float: left; "
          *ngIf="item.idPlattform =='fb'">
        </ion-card-content>

        <ion-card *ngIf="item.idPlattform =='yt'" style="width: 100%; padding: 25px;">
          <h1>youtube</h1>
          <ion-card-header>
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div id="player"></div>

          
          </ion-card-header>



          <ion-card-content>
            <!-- LikeBtn.com BEGIN -->
            <span class="likebtn-wrapper" data-identifier="item_1"></span>
            <script>(function (d, e, s) { if (d.getElementById("likebtn_wjs")) return; a = d.createElement(e); m = d.getElementsByTagName(e)[0]; a.async = 1; a.id = "likebtn_wjs"; a.src = s; m.parentNode.insertBefore(a, m) })(document, "script", "//w.likebtn.com/js/w/widget.js");</script>
            <!-- LikeBtn.com END -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
    (pageChange)="onPageChange($event)"></pagination-controls>
</ion-content>